
body {
  background: #fdfdfd;
  color: #333;
  outline: 1px solid #ccc;
  font: 1.05rem/1.5 sans-serif;
  margin: 0 auto;
  max-width: 27rem;
  padding: .5rem .7rem;
}

button,
input {
  X-border: 2px solid gray;
  display: block;
  font: inherit;
  padding: .3rem .2rem;
  width: 98%;
}

button {
  margin: 0 auto;
  padding: .6rem;
  width: 99%;
}

input:not([ type = checkbox ]) {
  X-min-width: 17rem;
}
input[ type = checkbox ] {
  height: 1.9rem;
  line-height: 1;
}

label {
  display: inline-block;
  X-min-width: 5.5rem;
  width: 99%;
}

h1 {
  font-weight: normal;
  text-align: center;
  margin: .5rem 0 1rem;
}

.status {
  border: 1px solid #ccc;
  padding: .5rem;
}

[ data-state = success ] {
  border-color: teal;
  color: teal;
}
[ data-state = success ]:before {
  content: '✔️ Success: '
}

[ data-state = error ] {
  background-color: #fee;
  border-color: #800;
  color: #800;
}
[ data-state = error ]:before {
  content: '❌ Error: ';
}

/* End. */
